<div class="container">

    <div class="row">
        <div class="col-md-11">
            <h2 class="text-primary">{{hop?.name}} </h2>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="description">{{hop?.description}}</div>
            <div><strong>Type:</strong> {{hop?.type}}</div>
            <div><strong>Country of Origin:</strong> {{hop?.countryOfOrigin}}</div>
            <div><strong>Use In:</strong>{{hop?.useIn}}</div>
        </div>
    </div>

    <form [formGroup]="hopForm" (ngSubmit)="onFormSubmit(hopForm.value)">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="name">Name</label>
                    <input formControlName="name" name="name" id="name" type="text" class="form-control" placeholder="Name...">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-10">
                    <label for="description">Description</label>
                    <textarea formControlName="description" name="description" id="description" class="form-control" rows="5" placeholder="Description..."></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="type">Type</label>
                    <select formControlName="type" name="type" id="type" class="form-control">
                      <option>Bittering</option>
                      <option>Aroma</option>
                      <option>Both</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="countryOfOrigin">Country Of Origin</label>
                    <input formControlName="countryOfOrigin" name="countryOfOrigin" id="countryOfOrigin" type="text" class="form-control" placeholder="Origin...">
                </div>
            </div>
        </div>
        <!-- Use In -->
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="useIn">Use In</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="radio-inline">
                        <label>
                          <input formControlName="useIn" type="radio" name="useIn" id="hop.useIn1" value="Boil"> Boil
                       </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                          <input formControlName="useIn" type="radio" name="useIn" id="hop.useIn2" value="Both"> Both
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="betaAcid">Beta Acid Pct</label>
                    <div class="input-group" style="max-width:105px">
                        <input formControlName="betaAcidPct" name="betaAcid" id="betaAcid" type="text" class="form-control">
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="alphaAcid">Alpha Acid Pct</label>
                    <div class="input-group" style="max-width:105px">
                        <input formControlName="alphaAcidPct" name="alphaAcid" id="alphaAcid" type="text" class="form-control">
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>

    </form>

</div>